MONGODB_DATA_API_KEY=
MONGODB_DATA_SOURCE=Cluster0
AUTH0_SECRET='use [openssl rand -hex 32] to generate a 32 bytes value'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://<auth0 domain>'
AUTH0_CLIENT_ID='<client_id>'
AUTH0_CLIENT_SECRET='<client_secret>'
AUTH0_AUDIENCE=<data_api_id>
AUTH0_SCOPE=openid email profile